body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 40px;
  color: #111;
}

header {
  margin-bottom: 80px;
}

h1 {
  font-size: 48px;
  font-weight: normal;
}

h2 {
  margin-top: 80px;
  font-size: 28px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.project img {
  width: 100%;
  height: auto;
}
